/env/
/medical_ai/medical/
/robot_head/
/logs/
/txt_files/uni_info.txt
/auxiliary_asr_burmese/Checkpoint/
/styletts2/Data/my_mm_female/
/styletts2/Models/
/auxiliary_asr_burmese/__pycache__/
/codes/__pycache__/
/styletts2/__pycache__/
*.pth
*.pyc